/*1327298648,176832696*/

.sp_443ui0{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yt/r/cTMEq8V6nqf.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_c86919{background-position:-0px -0px}
.sx_f5e616{width:11px;height:9px;background-position:-0px -17px}

#bootloader_zucx4 { height: 42px; }