/*1327297630,169775813*/

.sp_4ojaiq{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yh/r/Od3noDKEN1X.png);background-repeat:no-repeat;display:inline-block;height:31px;width:24px}
.sx_1ebc01{width:16px;height:16px;background-position:-66px -280px}
.selected .sx_1ebc01{background-position:-50px -280px}
.sx_549b85{width:7px;height:12px;background-position:-96px -58px}
.sx_8bf370{width:7px;height:7px;background-position:-93px -96px}
.sx_2bdad1{width:14px;height:14px;background-position:-81px -58px}
.sx_600eef{width:11px;height:14px;background-position:-81px -73px}
.sx_5d1d91{width:10px;height:10px;background-position:-93px -85px}
.sx_28f019{width:9px;height:11px;background-position:-93px -73px}
.sx_e892cc{width:11px;height:11px;background-position:-81px -88px}
.sx_dd6fb7{width:11px;height:11px;background-position:-81px -100px}
.sx_9b6021{width:16px;height:16px;background-position:-86px -0px}
.sx_5c3dd9{width:16px;height:16px;background-position:-86px -17px}
.sx_0ef78d{background-position:-0px -247px}
.sx_f45f18{background-position:-56px -110px}
.sx_621e15{background-position:-31px -110px}
.sx_d52940{background-position:-56px -75px}
.sx_e6fe1e{background-position:-31px -75px}
.sx_563b73{background-position:-56px -40px}
.sx_dbfb97{background-position:-31px -40px}
.sx_0149e3{background-position:-25px -247px}
.sx_9a1e26{background-position:-50px -247px}
.sx_6ffaaa{background-position:-75px -247px}
.sx_b392cf{background-position:-0px -282px}
.sx_8e0ade{background-position:-25px -282px}
.sx_89eefc{width:54px;height:18px;background-position:-31px -19px}
.sx_590cc1{width:54px;height:18px;background-position:-31px -0px}
.sx_9f2590{width:30px;height:150px;background-position:-0px -0px}
.sx_396c06{width:25px;background-position:-55px -315px}
.sx_cd3548{width:25px;background-position:-28px -315px}
.sx_94707a{width:25px;background-position:-1px -315px}
.sx_ff77c0{width:7px;height:4px;background-position:-93px -104px}
.sx_500775{width:7px;height:4px;background-position:-81px -112px}
.sx_857d88{width:89px;height:19px;background-position:-7px -219px}
.sx_6e6075{width:103px;background-position:-0px -151px}
.sx_2f1338{width:103px;height:30px;background-position:-0px -183px}
.sx_9996e5{width:22px;height:19px;background-position:-81px -38px}

#bootloader_pB2s8 { height: 42px; }