/*1327338982,169776066*/

.sp_42nfmi{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yl/r/PEECmrpVcRK.png);background-repeat:no-repeat;display:inline-block;height:12px;width:12px}
.sx_bcbfb0{background-position:-0px -15px}
.sx_447daf{width:17px;height:14px;background-position:-0px -0px}

#bootloader_hFN9p { height: 42px; }