/*1327298116,169776320*/

.sp_7rue7z{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/y2/r/NOWlLqENFAS.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_e6930b{width:12px;height:11px;background-position:-0px -306px}
.sx_0b6a7a{background-position:-0px -289px}
.sx_435c2f{background-position:-0px -272px}
.sx_280303{background-position:-0px -255px}
.sx_a60167{background-position:-0px -238px}
.sx_84c31b{background-position:-0px -221px}
.sx_c20bf5{background-position:-0px -204px}
.sx_0484ca{background-position:-0px -187px}
.sx_3c1e02{background-position:-0px -170px}
.sx_baaead{background-position:-0px -153px}
.sx_ea4e0b{background-position:-0px -136px}
.sx_7d2c8d{background-position:-0px -119px}
.sx_6c82e7{background-position:-0px -102px}
.sx_1844c4{background-position:-0px -85px}
.sx_ab1864{background-position:-0px -68px}
.sx_cd3559{background-position:-0px -51px}
.sx_11e326{background-position:-0px -34px}
.sx_9ceea3{background-position:-0px -17px}
.sx_d5b2f5{background-position:-0px -0px}

#bootloader_GOUJE { height: 42px; }