/*1327406690,169776067*/

.sp_6q6gvx{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yW/r/BbnO6DmN6Wl.png);background-repeat:no-repeat;display:inline-block;height:5px;width:9px}
.sx_5f651e{width:15px;height:13px;background-position:-0px -17px}
.sx_86cb8a{width:16px;height:16px;background-position:-0px -0px}
.sx_0c1c6c{background-position:-0px -31px}
.sx_ade6e8{background-position:-0px -37px}

#bootloader_SV9qB { height: 42px; }