/*1327104326,176832696*/

.sp_biec0k{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/y7/r/N0RzpFOdl8N.png);background-repeat:no-repeat;display:inline-block;height:32px;width:16px}
.sx_05582f{width:32px;background-position:-0px -0px}
.sx_df63b5{width:32px;background-position:-0px -33px}
.sx_ff51b9{width:12px;height:14px;background-position:-17px -115px}
.sx_9d0968{height:12px;background-position:-0px -116px}
.sx_76edd6{height:12px;background-position:-0px -129px}
.sx_66924d{height:12px;background-position:-0px -142px}
.sx_e725a0{width:15px;height:15px;background-position:-17px -99px}
.sx_86d63b{width:32px;background-position:-0px -66px}
.sx_04680b{height:16px;background-position:-0px -99px}
.sp_bmiw2i{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/yd/r/mVE9SdZHjME.png);background-repeat:no-repeat;display:inline-block;height:32px;width:32px}
.sx_42f237{background-position:-0px -0px}
.sx_fe50e0{background-position:-0px -33px}
.sx_c87700{background-position:-0px -66px}
.sp_dalarw{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/yd/r/7polWY6No_K.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_bba0d8{width:9px;height:18px;background-position:-0px -30px}
.sx_0a1089{width:19px;height:10px;background-position:-0px -0px}
.sx_4af707{background-position:-0px -67px}
.sx_70a35f{background-position:-0px -84px}
.sx_57add7{height:15px;background-position:-0px -135px}
.sx_897f0c{background-position:-0px -101px}
.sx_e8d24a{width:18px;height:18px;background-position:-0px -11px}
.sx_f0b706{width:14px;background-position:-0px -151px}
.sx_c7bd38{width:15px;height:15px;background-position:-0px -168px}
.sx_04d6ff{width:12px;height:12px;background-position:-0px -197px}
.sx_d20408{width:17px;height:17px;background-position:-0px -49px}
.sx_b919b4{width:14px;height:12px;background-position:-0px -184px}
.sx_0bbb8d{background-position:-0px -118px}
.sp_duz5ma{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/yC/r/EDGz8xOwGQ7.png);background-repeat:no-repeat;display:inline-block;height:32px;width:32px}
.sx_c343bc{width:12px;height:20px;background-position:-0px -99px}
.sx_ffa5d3{width:31px;background-position:-0px -66px}
.sx_4add24{background-position:-0px -0px}
.sx_a2a3a9{background-position:-0px -33px}
.sx_af62b0{width:16px;height:16px;background-position:-0px -120px}
.sx_fe8cc1{width:16px;height:18px;background-position:-13px -99px}

#bootloader_aOZ7c { height: 42px; }