/*1327297652,176820408*/

.sp_78bswx{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yc/r/qgtAaZZf7tG.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_2a2a1c{width:17px;background-position:-17px -19px}
.selected .sx_2a2a1c{background-position:-0px -19px}
.sx_c7ca59{width:17px;background-position:-17px -36px}
.selected .sx_c7ca59{background-position:-0px -36px}
.sx_e2753b{width:10px;height:10px;background-position:-11px -489px}
.sx_d4737f{width:10px;height:10px;background-position:-0px -489px}
.sx_322fa9{width:10px;height:10px;background-position:-21px -475px}
.sx_b6e6fb{width:17px;background-position:-17px -53px}
.selected .sx_b6e6fb{background-position:-0px -53px}
.sx_b5701e{width:17px;background-position:-17px -70px}
.selected .sx_b5701e{background-position:-0px -70px}
.sx_d5c063{width:17px;background-position:-17px -87px}
.selected .sx_d5c063{background-position:-0px -87px}
.sx_2d92dc{width:5px;height:14px;background-position:-26px -288px}
.selected .sx_2d92dc{background-position:-21px -288px}
.sx_ea6e1f{width:8px;height:14px;background-position:-25px -444px}
.selected .sx_ea6e1f{background-position:-17px -444px}
.sx_580af6{width:10px;height:14px;background-position:-26px -249px}
.selected .sx_580af6{background-position:-16px -249px}
.sx_1a85a5{width:8px;height:14px;background-position:-27px -310px}
.selected .sx_1a85a5{background-position:-19px -310px}
.sx_c8fc9e{background-position:-0px -444px}
.sx_8b69b4{width:10px;height:12px;background-position:-10px -297px}
.selected .sx_8b69b4{background-position:-0px -297px}
.sx_646816{width:10px;height:12px;background-position:-10px -284px}
.selected .sx_646816{background-position:-0px -284px}
.sx_b59db7{width:10px;height:12px;background-position:-10px -271px}
.selected .sx_b59db7{background-position:-0px -271px}
.sx_cae39e{background-position:-16px -104px}
.selected .sx_cae39e{background-position:-0px -104px}
.sx_3e318d{width:13px;height:12px;background-position:-13px -236px}
.selected .sx_3e318d{background-position:-0px -236px}
.sx_342f04{width:13px;height:12px;background-position:-13px -223px}
.selected .sx_342f04{background-position:-0px -223px}
.sx_e05ee1{width:9px;height:14px;background-position:-9px -310px}
.selected .sx_e05ee1{background-position:-0px -310px}
.sx_ffbf53{background-position:-16px -121px}
.selected .sx_ffbf53{background-position:-0px -121px}
.sx_9ee313{background-position:-16px -138px}
.selected .sx_9ee313{background-position:-0px -138px}
.sx_14d5b1{background-position:-16px -155px}
.selected .sx_14d5b1{background-position:-0px -155px}
.sx_d23f62{background-position:-16px -172px}
.selected .sx_d23f62{background-position:-0px -172px}
.sx_7e7816{background-position:-16px -189px}
.selected .sx_7e7816{background-position:-0px -189px}
.sx_3f230d{background-position:-17px -427px}
.sx_0a2bcf{background-position:-16px -206px}
.selected .sx_0a2bcf{background-position:-0px -206px}
.sx_73d7b5{background-position:-0px -427px}
.sx_4b3f26{background-position:-17px -410px}
.sx_77fd06{background-position:-0px -410px}
.sx_2e0da5{background-position:-17px -393px}
.sx_bbecc4{background-position:-0px -393px}
.sx_8f7f3f{background-position:-17px -376px}
.sx_040586{background-position:-0px -376px}
.sx_d2e19b{width:18px;height:18px;background-position:-18px -0px}
.sx_d2e19b:hover{background-position:-0px -0px}
.sx_9dd429{width:15px;background-position:-21px -271px}
.sx_d4e983{background-position:-0px -325px}
.sx_27c862{background-position:-17px -325px}
.sx_41f747{background-position:-0px -342px}
.sx_6ed1f4{width:4px;height:4px;background-position:-16px -264px}
.sx_6d76fa{width:11px;height:13px;background-position:-12px -461px}
.sx_65db0d{width:11px;height:13px;background-position:-0px -461px}
.sx_f518f2{width:9px;height:13px;background-position:-27px -223px}
.sx_183d2d{width:10px;height:13px;background-position:-24px -461px}
.sx_602b0c{width:10px;height:13px;background-position:-0px -475px}
.sx_9d3de2{width:9px;height:13px;background-position:-11px -475px}
.sx_fc7e21{width:15px;height:21px;background-position:-0px -249px}
.sx_b36c71{width:8px;height:10px;background-position:-27px -237px}
.sx_2bf659{background-position:-17px -342px}
.sx_1166af{background-position:-0px -359px}
.sx_81066b{background-position:-17px -359px}
.sx_c10d42{width:9px;height:8px;background-position:-22px -489px}

#bootloader__1JLo { height: 42px; }